<mat-tab-group dynamicHeight mat-stretch-tabs class="mat-elevation-z6 bg-white">
    <mat-tab label="Séries">
      <div class="container-fluid no-gutters p-0 m-0">

        <div class="d-flex flex-wrap justify-content-center p-2">
          <!-- <div class="d-flex justify-content-center p-2"> -->
            <button pButton type="button" label="Tout" [ngClass]="letterSerie === '' ? 'ui-button-success' : 'ui-button-primary'" class="ui-button-raised mr-2" (click)="handleLetterBySerie($event, '')"></button>
            <span *ngFor="let letter of letters">
              <button pButton type="button" label="{{letter}}" [ngClass]="letterSerie === letter ? 'ui-button-success' : 'ui-button-primary'" class="ui-button-raised" (click)="handleLetterBySerie($event, letter)"></button>
            </span>
        </div>

        <div class="col-md-12 no-gutters p-0 m-0">
            <app-series-by-letter [context]="context" [letter]="letterSerie"></app-series-by-letter>
        </div>

      </div>
    </mat-tab>
    <mat-tab label="Auteurs">

        <div class="container-fluid no-gutters p-0 m-0">

            <div class="d-flex flex-wrap justify-content-center p-2">
              <button pButton type="button" label="Tout" [ngClass]="letterAuthor === '' ? 'ui-button-success' : 'ui-button-primary'" class="ui-button-raised mr-2" (click)="handleLetterByAuthor($event, '')"></button>
              <span *ngFor="let letter of letters">
                <button pButton type="button" label="{{letter}}" [ngClass]="letterAuthor === letter ? 'ui-button-success' : 'ui-button-primary'" class="ui-button-raised" (click)="handleLetterByAuthor($event, letter)"></button>
              </span>

            </div>

            <div class="col-md-12 no-gutters p-0 m-0">
                <app-authors-table-by-letter [context]="context" [letter]="letterAuthor"></app-authors-table-by-letter>
            </div>

        </div>

    </mat-tab>
  </mat-tab-group>
