<mat-card class="mat-elevation-z6 mb-2">
    <mat-card-header class="bg-dark text-white pt-2">
        <mat-card-title>Détail des albums de la série</mat-card-title>
        <mat-card-subtitle class="text-light">{{ pager.totalElements + " album(s) référencés"}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

        <div *ngFor="let graphicNovel of graphicNovels">
            <app-graphic-novel-item [graphicNovel]="graphicNovel" [context]="context"></app-graphic-novel-item>
            <mat-divider [inset]="true"></mat-divider>
        </div>

        <!-- Paginator -->
        <app-my-paginator [pagerParams]="pager" (notifyPagination)="onPaginate($event)"></app-my-paginator>

    </mat-card-content>

</mat-card>