<mat-card class="mat-elevation-z6">
    <mat-card-header>
        <mat-card-title>{{resultsLength}} album(s) trouvé(s)</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="example-loading-shade" *ngIf="isLoadingResults">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>

        <div class="example-table-container">

            <table mat-table [dataSource]="graphicNovels" class="example-table" matSort matSortActive="serie"
                matSortDisableClear matSortDirection="asc">
                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>#</th>
                    <td mat-cell *matCellDef="let gc"><b>{{gc.id}}</b></td>
                </ng-container>

                <!-- Tome Column -->
                <ng-container matColumnDef="tome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Tome</th>
                    <td mat-cell *matCellDef="let gc" align="center">{{gc.tome + gc.numEdition}}</td>
                </ng-container>

                <!-- Serie Title Column -->
                <ng-container matColumnDef="serie">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Série</th>
                    <td mat-cell *matCellDef="let gc">{{gc.serie.title}}</td>
                </ng-container>

                <!-- Title Column -->
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Title</th>
                    <td mat-cell *matCellDef="let gc">{{gc.title}}</td>
                </ng-container>

                <!-- Publisher Column -->
                <ng-container matColumnDef="publisher">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Style</th>
                    <td mat-cell *matCellDef="let gc">{{gc.publisher}}</td>
                </ng-container>

                <!-- Publication date Column -->
                <ng-container matColumnDef="publicationDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Dépôt légal</th>
                    <td mat-cell *matCellDef="let gc">{{gc.publicationDate.substring(0, 7)}}</td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let gc">
                        <a [routerLink]="['/graphic-novels', gc.id, context]" class="btn btn-info btn-sm">Afficher</a></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let gc; columns: displayedColumns;"></tr>
            </table>
        </div>

        <mat-paginator [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>
    </mat-card-content>
</mat-card>