<!-- Serie card -->
<div class="d-flex">
    <div class="d-flex flex-column flex-fill">

        <mat-card class="mat-elevation-z6 mb-2">
            <mat-card-header class="bg-dark text-white pt-2">
                <mat-card-title>{{ serie.title }}</mat-card-title>
                <mat-card-subtitle class="text-light">{{ serie.categories }} | {{ serie.langage }} | {{ serie.origin }}
                    | {{ serie.status }}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <div class="card mb-3 no-border">

                    <div class="row no-gutters">
                        <div class="col-md-4" style="max-width: 200px">

                            <div class="row no-gutters">
                                <div class="col-md-12">
                                    <img [src]="serie.pageThumbnailUrl" class="card-img p-1" alt="...">
                                </div>
                            </div>

                        </div>

                        <div class="col-md-8">

                            <div class="card-body bg-white">
                                <dl class="dl-horizontal">
                                    <dt>Identifiant</dt>
                                    <dd>{{ serie.id }}</dd>
                                    <dt>ID Bedetheque</dt>
                                    <dd>{{ serie.id + " / " + serie.externalId }}</dd>
                                    <dt>Style</dt>
                                    <dd>{{ serie.categories }}</dd>
                                    <dt>Origine</dt>
                                    <dd>{{ serie.origin }}</dd>
                                    <dt>Statut</dt>
                                    <dd>{{ serie.status }}</dd>
                                    <dt>Site internet</dt>
                                    <dd>{{ serie.siteUrl }}</dd>
                                    <dt>Tomes</dt>
                                    <dd>TODO</dd>
                                </dl>

                            </div>

                        </div>

                    </div>

                    <mat-divider [inset]="true" class="mt-1 mb-2"></mat-divider>
                    <h5>Synopsys</h5>
                    <div class="mt-1 ml-1">{{ serie.synopsys }}</div>

                </div>

            </mat-card-content>
        </mat-card>

        <!-- Graphic novels cards -->
        <app-graphic-novels-list-m [(serie)]="serie" [context]="context"></app-graphic-novels-list-m>

     <!--   <app-graphic-novels-list [(serie)]="serie" [context]="context"></app-graphic-novels-list> -->
    </div>

    <div class="d-flex ml-2">
        <app-graphic-novels-list-xs-ref *ngIf="context == 'referential'" [(serie)]="serie" [context]="context"></app-graphic-novels-list-xs-ref>
        <app-graphics-novels-list-xs *ngIf="context == 'library'" [(serie)]="serie" [context]="context"></app-graphics-novels-list-xs>
    </div>
</div>

