dl {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
}

.dl-horizontal dt {
    float: left;
    width: 100px;
    overflow: hidden;
    clear: left;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333333;
}

dd {
    display: block;
    margin-inline-start: 40px;
    color: #999999;
}

dt, dd {
    line-height: 1.2;
    min-height: 20px;;
    border-bottom: 1px solid #eee;
    font-weight: normal;
}

.album-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.no-border {
    border: none;
}