<!-- General wrapper -->
<div class="layout-wrapper">

    <!-- Screen size detector -->
    <app-size-detector></app-size-detector>

    <!-- Top bar app -->
    <app-top-bar (sidebarLeftToggled)="handleToggleSidebarLeft()"></app-top-bar>
    <!--
    <nav class="navbar navbar-expand navbar-dark bg-dark" style="z-index: 10000;">
        <a href="#" class="navbar-brand">FreeBds</a>
        <ul class="navbar-nav mr-auto" routerLinkActive="active">
          <li class="nav-item">
            <a href="/home" class="nav-link" routerLink="home">Home </a>
          </li>
          <li class="nav-item" *ngIf="showAdminBoard">
            <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
          </li>
          <li class="nav-item" *ngIf="showModeratorBoard">
            <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
          </li>
          <li class="nav-item">
            <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
          </li>
        </ul>
    
        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link" routerLink="login">Login</a>
          </li>
        </ul>
    
        <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
          <li class="nav-item">
            <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
          </li>
          <li class="nav-item">
            <a href class="nav-link" (click)="logout()">LogOut</a>
          </li>
        </ul>
      </nav>
-->
    <!-- Side menu left -->
    <app-sidebar-left [style.display]="isLoggedIn ? 'block;' : 'none'" [toggle]="expanded"></app-sidebar-left>

    <!-- Main content -->
    <div class="container-fluid mt-5">
        <div class="row">

            <!-- Sidebar left empty space for lg, xl devices -->
            <div class="col sticky-sidebar"></div>

            <!-- Main content viewport -->
            <div class="col">

                <app-breadcrumb-main [style.display]="isLoggedIn ? 'block;' : 'none'"></app-breadcrumb-main>
                <div class="mb-3"></div>

                <router-outlet></router-outlet>
 
            </div>
        </div>
    </div>
</div>
