<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarAppTopBar"
        aria-controls="navbarAppTopBar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" (click)="handleToggleSidebarLeft($event)"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">FreeBds</a>

    </div>
</nav>